/*
button-variant-darken($color, $background);
button-variant-lighten($color, $background);
button-variant-multi($color, $color-hover, $background, $background-hover);
button-variant-transparent($color, $color-hover, $border-color, $border-color-hover, $border-size)
*/
/* button-font-style($text-transform, $font-weight) */
/* button-radius($radius) */
/* button-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius) */
/* button-spacing($margin) */

.btn-sk {
    display: inline-block;
    margin-bottom: 0; // For input.btn
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
    white-space: nowrap;
}

.btn-sk-large {
    @include button-size(14px, 3%, 15px, 1.5, 3px);
    min-width: 130px;
}

.btn-sk-medium {
    @include button-size(14px, 30px, 13px, 1.55, 3px);
}

.btn-sk-normal {
    @include button-size(10px, 30px, 13px, 1.5, 3px);
}

.btn-sk-small {
    @include button-size(5px, 20px, 13px, 1.5, 3px);
}


/* ---------------------------- Button Style -------------------*/

.btn-primary-sk {
    @include button-variant-darken(#fff, $pt-bg-color);
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    border: none;

}

.btn-primary-sk--transparent{
    @include button-variant-transparent($pt-color, #333, $pt-color, #333, 1px);
        display: inline-block;
    position: relative;
}

