/* =======================================================================
## ++ Globals
========================================================================== */

// @font-face {
//     font-family: 'jos-bold';
//     src: url('../fonts/JosefinSans-Bold.ttf') format('truetype');
// }

html {
    font-size: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    //font-family: 'source-reg', 'sarif';
    background-color:white;
}

* {
    box-sizing: border-box;
}


/* =======================================================================
## ++ Cleafix
========================================================================== */


/* float clearing for IE6 */

* html .clearfix {
    height: 1%;
    overflow: visible;
}


/* float clearing for IE7 */

*+html .clearfix {
    min-height: 1%;
}


/* float clearing for everyone else */

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    font-size: 0;
}

.clr {
    clear: both;
}
